body {
    padding-top: 70px;
    background-color: #f8f9fa;
    font-family:Arial, Helvetica, sans-serif
}

section {
    padding: 60px 0;
}

h2 {
    margin-bottom: 30px;
    font-weight: 600;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.nav-link:hover {
    color: #0d6efd !important;
}

.navbar {
    box-shadow: 0 2px 10px blueviolet (0,0,0,0.2);
}

.container {
    max-width: 1100px;
}
